<mat-spinner *ngIf="isLoading"></mat-spinner>
<!-- const employee = { empFirstName: this.empFName, empLastName: this.empLName,
  empEmailId: this.empEmail, employeeId: this.empId, description:  this.description }; -->
<mat-accordion multi="true" *ngIf="newEmployees.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let employee of newEmployees">
    <mat-expansion-panel-header>
      <p><b>{{ employee.empFirstName }}'s Details</b></p>
    </mat-expansion-panel-header>
    <div class="employee-image">
        <img [src]="employee.imagePath" [alt]="employee.empFirstName">
    </div>
    <p style="text-transform:capitalize;"><b>First Name : {{ employee.empFirstName }}</b></p>
    <p style="text-transform:capitalize;"><b>Last Name : {{ employee.empLastName }}</b></p>
    <p style="text-transform:capitalize;"><b>Email : {{ employee.empEmailId }}</b></p>
    <p style="text-transform:capitalize;"><b>Job Id : {{ employee.employeeId }}</b></p>
    <p style="text-transform:capitalize;"><b>Description : {{ employee.description}}</b></p>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/edit',employee.employeeId]">Edit</button>
      <button mat-button color="warn" (click)="onDelete(employee.employeeId)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalEmployees" [pageSize]="employeesPerPage" [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChanged($event)"></mat-paginator >
<p class="info-text mat-body-2" *ngIf="newEmployees.length <= 0 && !isLoading">No Employees are added Yet !!!</p>
<!-- <p class="mat-body-1"  *ngIf="employees.length <= 0">No Employees are added Yet !!!</p> -->
