<mat-card>
  <!-- <p><b>Employee Details : </b></p> -->
  <!-- empFName  = '';
  empLName  = '';
  empEmail  = '';
  empId = '';
  description = ''; -->
  <p>Firstname</p>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="empFName"><br>
  </mat-form-field>
  <p>Lastname</p>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="empLName"><br>
  </mat-form-field>
  <p>Email:</p>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="empEmail"><br>
  </mat-form-field>
  <p>Id:</p>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="empId"><br>
  </mat-form-field>
  <p>Description:</p>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="description"></textarea><br>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddEmployee()">Save</button>
</mat-card>
<!-- <textarea rows="6" cols="30" [value]="'Test'"> {{newPost}} </textarea><br> -->
<!-- <textarea rows="6" cols="30" [value]="newPost" #postInput></textarea><br> -->
<!-- <button (click)="onAddPost(postInput)">Save Post</button> -->
<!-- <hr> This will add the horizontal line in between text area and button-->
<!-- <p> {{newPost}} </p> -->
