<mat-card>
  <!-- <p><b>Employee Details : </b></p> -->
  <!-- empFirstName  = '';
  empLastName  = '';
  empEmailId  = '';
  employeeId = '';
  description = ''; -->
  <form (submit)="onSaveEmployee(employeeForm)" #employeeForm="ngForm">
    <!-- <p>Firstname</p> -->
  <mat-form-field>
    <!-- <input matInput type="text" [(ngModel)]="empFirstName"><br> -->
    <input style="text-transform:capitalize;" matInput type="text" name="empFirstName" [ngModel]="employee.empFirstName"
            required placeholder="First Name" #empFirstName="ngModel">
    <mat-error *ngIf="empFirstName.invalid">Please enter First Name</mat-error>
    <!-- <mat-error *ngIf="employeeForm.getControl('empFirstName').invalid">Please enter First Name</mat-error> -->
  </mat-form-field>
  <!-- <p>Lastname</p> -->
  <mat-form-field>
    <!-- <input matInput type="text" [(ngModel)]="empLastName"><br> -->
    <input style="text-transform:capitalize;" matInput type="text" name="empLastName" [ngModel]="employee.empLastName"
            required placeholder="Last Name" #empLastName="ngModel">
    <mat-error *ngIf="empLastName.invalid">Please enter Last Name</mat-error>
    <!-- <mat-error *ngIf="employeeForm.getControl('empLastName').invalid">Please enter Last Name</mat-error> -->
  </mat-form-field>
  <!-- <p>Email:</p> -->
  <mat-form-field>
    <!-- <input matInput type="text" [(ngModel)]="empEmailId"><br> -->
    <input style="text-transform:capitalize;" matInput type="text" name="empEmailId" [ngModel]="employee.empEmailId"
            required placeholder="Email Id" #empEmailId="ngModel">
    <mat-error *ngIf="empEmailId.invalid">Please enter Email Id</mat-error>
    <!-- <mat-error *ngIf="employeeForm.getControl('empEmailId').invalid">Please enter Email Id</mat-error> -->
  </mat-form-field>
  <!-- <p>Id:</p> -->
  <mat-form-field>
    <!-- <input matInput type="text" [(ngModel)]="employeeId"><br> -->
    <input style="text-transform:capitalize;" matInput type="text" name="employeeId" [ngModel]="employee.employeeId"
            required placeholder="Employee Id" #employeeId="ngModel">
    <mat-error *ngIf="employeeId.invalid">Please enter Employee Id</mat-error>
    <!-- <mat-error *ngIf="employeeForm.getControl('employeeId').invalid">Please enter Employee Id</mat-error> -->
  </mat-form-field>
  <!-- <p>Description:</p> -->
  <mat-form-field>
    <!-- <textarea matInput rows="6" [(ngModel)]="description"></textarea><br> -->
    <textarea style="text-transform:capitalize;" matInput rows="4" name="description" [ngModel]="employee.description"
               required placeholder="Description" #description="ngModel"></textarea>
    <mat-error *ngIf="description.invalid">Please enter Description</mat-error>
    <!-- <mat-error *ngIf="employeeForm.getControl('description').invalid">Please enter Description</mat-error> -->
  </mat-form-field>
  <!-- <button mat-raised-button color="primary" (click)="onAddEmployee()">Save</button> -->
  <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
<!-- <textarea rows="6" cols="30" [value]="'Test'"> {{newEmployee}} </textarea><br> -->
<!-- <textarea rows="6" cols="30" [value]="newEmployee" #employeeInput></textarea><br> -->
<!-- <button (click)="onAddEmployee(employeeInput)">Save Employee</button> -->
<!-- <hr> This will add the horizontal line in between text area and button-->
<!-- <p> {{newEmployee}} </p> -->
